@font-face{
      font-family:"BYekan";
      src:url(../fonts/BYekan.eot)format('eot'),
          url(../fonts/BYekan.woff)format('woff'),
          url(../fonts/BYekan.ttf)format('ttf');
}
body{
      background:url(../img/bg.jpg);
      font:11px tahoma,geneva,sans-serif;
      font-size:11px;
}
@media(min-width:500px){
      .container{
            max-width:500px;
      }
}
#header{
      float:right;
      width:100%;
      height:4px;
      background:#666;
}
.head-btn{
       font:13px BYekan,tahoma,geneva,sans-serif;
       background:#666;
       color:#fff!important;
       border-radius:0 0 8px 8px!important;
}
.main{
      float:right;
      width:100%;
      background:#fff;
      padding:20px;
      margin-top:20%;
      border-radius:3px;
      direction:rtl;
      border:6px solid #ccc;
}
.main hgroup{
      float:right;
      width:100%;
      margin-top:-20px;
      direction:rtl;
}
.main hgroup h3{
      font:13px tahoma,geneva,sans-serif;
      font-weight:bold;
      float:right;
      width:100%;
      color:#666;
      text-align:right;
      text-shadow:1px 1px 1px #fff;
}
.main hgroup h3 sub{
	float:left;
}
.main hgroup h3 sub a{
	font:11px tahoma,geneva,sans-serif;
}
.main p{
      text-align:right;
}
.line{
      float:right;
      width:100%;
      height:3px;
      background:#eee;
      margin-bottom:10px;
}
.line-cloud{
      background:#ecf0f1!important;
}
.clear{
       clear:both;
}
.table{
      direction:rtl;
}
.table td{
      border:0!important;
}
.table th{
       font:11px tahoma,geneva,sans-serif;
       text-align:center;
}
.table td span{
       color:#666;
       margin-left:10px;
}
.form-control{
      box-shadow:inset 0 0 0 0;
      box-shadow:0 0 0 0!important;
      padding:4px!important;
      height:auto;
      border-radius:2px;
      background:#f6f6f6;
      font:12px tahoma,geneva,sans-serif;
}
.form-control:focus{
      border:1px solid #ccc;
      background:#fff;
}
.main label{
      float:right;
      width:100%;
      direction:rtl;
      font-weight:normal;
      position:relative;
      top:4px;
}
.main label span{
      color:red;
}
.my-btn{
      background:#2ecc71!important;
      border-radius:0;
      color:#fff!important;
      direction:rtl;
      font:13px BYekan,tahoma,geneva,sans-serif;
}
.my-btn:hover{
      background:#48D583!important;
}
.my-btn span{
      float:right;
      position:relative;
      left:5px;
      top:3px;
}
.btn-danger{
      background:#e74c3c!important;
      border:0!important;
}
.btn-danger:hover{
      background:#E43825!important;
}
#footer{
      float:left;
      width:100%;
      text-align:center;
      margin-top:15px;
}
#footer a{
      color:#666;
      font-weight:bold;
}
.alert{
       float:right;
       width:100%;
}
.errorMessage{
       float:right;
       width:100%;
       color:#E60000;
       margin-bottom:-8px;
}
::selection{
       background:#666;
       color:#eee;
}
.btn-default{
       border-radius:0;
       font:12px tahoma,geneva,sans-serif;
       padding:8px!important;
       background:#f6f6f6;
}
.btn-default:hover{
       background:#fff!important;
}
