*{
       margin:0;
       padding:0;
}
@font-face{
      font-family:"BYekan";
      src:url(../fonts/BYekan.eot)format('eot'),
          url(../fonts/BYekan.woff)format('woff'),
          url(../fonts/BYekan.ttf)format('ttf');
}
@font-face{
      font-family:"segoe";
      src:url(../fonts/segoe-ui-light-latin.eot)format('eot'),
          url(../fonts/segoe-ui-light-latin.woff)format('woff'),
          url(../fonts/segoe-ui-light-latin.ttf)format('ttf');
}
@media(min-width:960px){
       .container{
              max-width:960px;
       }
}
@media(min-width:500px){
       .container-form{
              max-width:500px;
              margin:auto;
       }
}
@media(max-width:960px){
       #topMenu{
              float:right!important;
              margin-right:2%;
       }
}
@media(max-width:340px){
       #topMenu{
              float:right!important;
              margin-right:1%;
       }
       .navbar-brand sub{
              display:none!important;
       }
}
@media(max-width:200px){
       #topMenu{
              float:right!important;
              margin-right:0%;
       }
       .navbar-brand{
              font-size:18px!important;
              margin-top:1px!important;
       }
}
@media(max-width:300px){
       #topMenu ul li{
              float:right;
              width:100%;
              margin-bottom:4px;
       }
}
body{
       background:url(../img/bg.png);
       font:12px tahoma,geneva,sans-serif;
       color:#666;
}
#header .navbar-inverse{
       border-bottom:1px solid #ccc;
       padding:0px!important;
}
.navbar-brand{
       font:25px segoe,tahoma,geneva,sans-serif;
       margin-top:-10px;
       color:#ccc!important;
}
.navbar-brand sub{
       float:left;
       width:100%;
       font:11px tahoma,geneva,sans-serif;
}
#topMenu{
       float:right;
       margin-top:14px;
}
#topMenu ul li{
       float:right;
       margin-left:10px;
       direction:rtl;
       text-align:right;
}
#topMenu ul li a{
       -webkit-transition:all .3s ease;
       -moz-transition:all .3s ease;
       -o-transition:all .3s ease;
       -ms-transition:all .3s ease;
       font:13px BYekan;
       padding:8px!important;
}
#topMenu ul li a:hover,#topMenu ul .activeMenu a{
       -webkit-transition:all .3s ease;
       -moz-transition:all .3s ease;
       -o-transition:all .3s ease;
       -ms-transition:all .3s ease;
       background:#2ecc71;
       padding-top:10px!important;
       color:#fff;
}
/*form*/
.form{
       float:left;
       background:#fff;
       border:1px solid #ccc;
       padding:10px;
       box-shadow:0 5px 3px #ccc;
       margin-top:8%;
       width:100%;
       border-radius:5px;
}
.form-inner{
       float:right;
       width:100%;
       padding:10px;
       direction:rtl;
}
.form hgroup h3{
       float:right;
       width:100%;
       font:13px tahoma,geneva,sans-serif;
       font-weight:bold;
       margin-top:1px;
       text-shadow:1px 1px 1px #fff;
}
.form p{
       float:right;
       width:100%;
       border-bottom:3px solid #eee;
       padding-bottom:10px;
}
.errorMessage{
       border:0!important;
       padding:0!important;
       margin-bottom:-5px;
       color:red;
}
.form .col-sm-4{
       padding-right:0!important;
}
.form .col-sm-8{
       padding-left:0!important;
}
.form-control{
       height:auto;
       padding:5px!important;
       background:#f6f6f6;
       border-radius:3px;
}
.table{
       float:right;
       direction:rtl;
}
.table td{
       border:0!important;
       font:11px tahoma,geneva,sans-serif;
}
.table td label{
       position:relative;
       top:4px;
       font:11px tahoma,geneva,sans-serif;
}
.table td label span{
       color:red;
}
.myBtn{
       background:-webkit-linear-gradient(top,#fff,#eee);
       background:-moz-linear-gradient(top,#fff,#eee);
       background:-o-linear-gradient(top,#fff,#eee);
       background:-ms-linear-gradient(top,#fff,#eee);
       color:#666!important;
       font:13px BYekan,tahoma,geneva,sans-serif;
       padding:8px;
       border:1px solid #eee;
       box-shadow:0 3px 3px #ccc;
}
.myBtn:hover{
       background:-webkit-linear-gradient(bottom,#fff,#eee);
       background:-moz-linear-gradient(bottom,#fff,#eee);
       background:-o-linear-gradient(bottom,#fff,#eee);
       background:-ms-linear-gradient(bottom,#fff,#eee);
}
.myBtn span{
       margin-left:5px;
       position:relative;
       top:3px;
}
.alert{
       float:right;
       width:100%;
}
#footer{
       float:left;
       width:100%;
       margin-top:20px;
       text-align:center;
       font:11px tahoma,geneva,sans-serif;
}
